/* 
.class
#id
 */
 /* *{background-color: #eaeaec;} */


#right-side {
    border: 3px;
    border-style: solid;
    border-color: #660e62;
    height: max-content;
    width: max-content;
}

#order-shop {
    border: 3px;
    border-style: solid;
    border-color: #660e62;
}

#payment-method {
    /*border: 3px;
    border-style: solid;
    border-color: #660e62;*/
}
